:root {
  --primary: #c41e3a;
  --secondary: #2ecc71;
  --text: #1f2937;
  --bg: #53535f;
  --white: #ffffff;
  --dark: #111827;
  --black: #000000;
  --muted: #e5e7eb;
  --root-font-size: 100%;
  --text-xs: clamp(11.1111111111px, 11.4700306399px + -0.0957118743vw, 10.1300643991px);
  --text-s: clamp(13.3333333333px, 13.2711226587px + 0.0165895132vw, 13.503375844px);
  --text-m: clamp(16px, 15.2682926829px + 0.1951219512vw, 18px);
  --text-l: clamp(19.2px, 17.446097561px + 0.4677073171vw, 23.994px);
  --text-xl: clamp(23.04px, 19.7678041463px + 0.872585561vw, 31.984002px);
  --text-xxl: clamp(27.648px, 22.1650702441px + 1.4621146016vw, 42.634674666px);
  --text-3xl: clamp(33.1776px, 24.5235434159px + 2.3077484224vw, 56.8320213298px);
  --space-none: 0;
  --space-xs: 4px;
  --space-s: 6px;
  --space-m: 8px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-xxl: 64px;
  --space-huge: 128px;
  --container-max-width: 1366px;
  --grid-gap: var(--space-m);
  --grid-cols: 12;
  --grid-min: 300px;
  --gap-x: clamp(1.5rem, 4vw + 1rem, 4rem);
  --gap-y: clamp(3rem, 10vw, 8rem);
  --grid-1: repeat(1, minmax(0, 1fr));
  --span-1: span 1;
  --grid-2: repeat(2, minmax(0, 1fr));
  --span-2: span 2;
  --grid-3: repeat(3, minmax(0, 1fr));
  --span-3: span 3;
  --grid-4: repeat(4, minmax(0, 1fr));
  --span-4: span 4;
  --grid-5: repeat(5, minmax(0, 1fr));
  --span-5: span 5;
  --grid-6: repeat(6, minmax(0, 1fr));
  --span-6: span 6;
  --grid-7: repeat(7, minmax(0, 1fr));
  --span-7: span 7;
  --grid-8: repeat(8, minmax(0, 1fr));
  --span-8: span 8;
  --grid-9: repeat(9, minmax(0, 1fr));
  --span-9: span 9;
  --grid-10: repeat(10, minmax(0, 1fr));
  --span-10: span 10;
  --grid-11: repeat(11, minmax(0, 1fr));
  --span-11: span 11;
  --grid-12: repeat(12, minmax(0, 1fr));
  --span-12: span 12;
  --grid-auto: repeat(auto-fit, minmax(min(100%, var(--grid-min)), 1fr));
  --span-full: 1 / -1;
  --body-bg: var(--bg);
  --body-text: var(--text);
  --radius-none: 0;
  --radius-xs: 2px;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 16px;
  --radius-xxl: 32px;
  --radius-circle: 500vh;
  --width-xs: calc(var(--container-max-width) * 0.1);
  --width-s: calc(var(--container-max-width) * 0.2);
  --width-m: calc(var(--container-max-width) * 0.4);
  --width-l: calc(var(--container-max-width) * 0.6);
  --width-xl: calc(var(--container-max-width) * 0.8);
  --width-xxl: calc(var(--container-max-width) * 0.9);
  --width-full: calc(var(--container-max-width) * 1);
}