@use '../abstracts' as a;

$sides: (
  'margin': 'margin',   'padding': 'padding',
  'margin-top': 'margin-top', 'margin-bottom': 'margin-bottom',
  'padding-top': 'padding-top', 'padding-bottom': 'padding-bottom',
  'margin-left': 'margin-left', 'margin-right': 'margin-right',
  'padding-left': 'padding-left', 'padding-right': 'padding-right'
);

@each $prefix, $prop in $sides {
  @each $size, $val in a.$space-map {
    .#{$prefix}--#{$size} { #{$prop}: var(--space-#{$size}); }
  }
}

// Achsen (X / Y)
@each $size, $val in a.$space-map {
  .margin-x--#{$size} { margin-left: var(--space-#{$size}); margin-right: var(--space-#{$size}); }
  .margin-y--#{$size} { margin-top: var(--space-#{$size}); margin-bottom: var(--space-#{$size}); }
  .padding-x--#{$size} { padding-left: var(--space-#{$size}); padding-right: var(--space-#{$size}); }
  .padding-y--#{$size} { padding-top: var(--space-#{$size}); padding-bottom: var(--space-#{$size}); }
}