@use '../abstracts' as a;

body {
  font-family: system-ui, sans-serif;
  color: var(--body-text);
  font-size: var(--text-m);
}

h1, h2, h3, h4 {
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: var(--space-m);
}

h1 { font-size: var(--text-3xl); }
h2 { font-size: var(--text-xxl); }
h3 { font-size: var(--text-xl); }
p  { margin-bottom: var(--space-m); }